@import url('https://fonts.cdnfonts.com/css/minecraft-4');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Minecraft', sans-serif;
    background-color: #d9dedd;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #333;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

#bookfile{
    margin: 20px auto;
    padding: 10px;
    border: 3px dashed #333;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


#convertor{
    margin: 10px auto;
    padding: 5px;
    border-top: 5px solid #058905;
    border-left: 5px solid #771e03;
    border-right: 5px solid #771e03;
    border-bottom: 5px solid #771e03;
    transition: transform 0.2s;
}

#convertor:hover{
    transform: scale(1.05);
    background-color: #e0e0e0;}